<footer>

  <section class="widthFull container" style="background-color: #003c5e;padding-top: 4em;min-height: 12em;">
    <div class="section-inner widthGlobal" style="color: #ffffff;flex-direction: row;justify-content: space-around;align-items: stretch;">
      <div id="footer-bio">

        <div class="hero-photo">
          <img src="{{ Image(411).src }}" alt="{{ Image(411).alt }}" srcset="{{ Image(411).srcset }}" sizes="{{ Image(411).img_sizes }}" style="max-width: 150px;border: 4px solid white;" />
        </div>
        <h2 style="font-weight: normal;">Kal Erikson</h2>
        <h3 style="font-weight: normal;">Full Stack Web Developer</h3>

        <div class="tech-tools">
          <ul>
          <li>WordPress</li>
          <li>HTML/CSS/JS</li>
          <li>Timber/Twig</li>
          <li>Vue</li>
          <li>PHP</li>
          <li>Go</li>
          <li>MySQL</li>
          <li>Node.js</li>
          <li>React</li>
          <li>PWA</li>
          <li>Git/Github</li>
          <li>Heroku/Google Cloud</li>
          <li>CPanel/htaccess/FTP</li>
          </ul>

        </div>

        <div class="notes">
          <ul style="text-align: left;display: inline-block;margin-top: 1.5em;" type="square">
            <li>Based in Toronto</li>
            <li>7 years experience (roughly!)</li>
            <li>Front-end and back-end capability</li>
            <li>Lots of WordPress experience</li>
            <li>Ramping up into more Vue/React/Node/Go</li>
          </ul>
        </div>
      </div>

      <div class="divider" style="width: 2px;background-color: orange;margin: 1em;">
        <div style=""></div>
      </div>

      <div id="footer-special-links">
        <a href="https://github.com/TheMangoTrain" style="padding: 1em;">
        <div>
          <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="100%" height="100%" viewBox="0 0 32.6 31.8" enable-background="new 0 0 32.6 31.8" xml:space="preserve">
            <path fill-rule="evenodd" clip-rule="evenodd" fill="#FFFFFF" d="M16.3,0C7.3,0,0,7.3,0,16.3c0,7.2,4.7,13.3,11.1,15.5
              c0.8,0.1,1.1-0.4,1.1-0.8c0-0.4,0-1.4,0-2.8c-4.5,1-5.5-2.2-5.5-2.2c-0.7-1.9-1.8-2.4-1.8-2.4c-1.5-1,0.1-1,0.1-1
              c1.6,0.1,2.5,1.7,2.5,1.7c1.5,2.5,3.8,1.8,4.7,1.4c0.1-1.1,0.6-1.8,1-2.2c-3.6-0.4-7.4-1.8-7.4-8.1c0-1.8,0.6-3.2,1.7-4.4
              C7.4,10.7,6.8,9,7.7,6.8c0,0,1.4-0.4,4.5,1.7c1.3-0.4,2.7-0.5,4.1-0.5c1.4,0,2.8,0.2,4.1,0.5c3.1-2.1,4.5-1.7,4.5-1.7
              c0.9,2.2,0.3,3.9,0.2,4.3c1,1.1,1.7,2.6,1.7,4.4c0,6.3-3.8,7.6-7.4,8c0.6,0.5,1.1,1.5,1.1,3c0,2.2,0,3.9,0,4.5
              c0,0.4,0.3,0.9,1.1,0.8c6.5-2.2,11.1-8.3,11.1-15.5C32.6,7.3,25.3,0,16.3,0z"/>
           </svg>
          </div>
          Github
        </a>

        <a href="https://stackoverflow.com/users/4378314/marsandback" style="padding: 1em;">
          <div>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 120 120" width="100%" height="100%">
              <path d="M84.4 93.8V70.6h7.7v30.9H22.6V70.6h7.7v23.2z"/>
              <path d="M38.8 68.4l37.8 7.9 1.6-7.6-37.8-7.9-1.6 7.6zm5-18l35 16.3 3.2-7-35-16.4-3.2 7.1zm9.7-17.2l29.7 24.7 4.9-5.9-29.7-24.7-4.9 5.9zm19.2-18.3l-6.2 4.6 23 31 6.2-4.6-23-31zM38 86h38.6v-7.7H38V86z"/>
            </svg>
          </div>
          StackOverflow
        </a>

        <a href="https://www.linkedin.com/in/kal-erikson" style="padding: 1em;">
          <div>
            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512" enable-background="new 0 0 512 512" xml:space="preserve" width="100%" height="100%">
              <path fill="#FFFFFF" d="M474.16,0H37.84C16.948,0,0,16.432,0,36.676v438.66C0,495.582,16.95,512,37.84,512h436.32
                c20.899,0,37.84-16.42,37.84-36.67V36.676C512,16.432,495.06,0,474.16,0z M78.976,428.476V197.972h76.616v230.503H78.976z
                M117.3,166.506l-0.006-0.002h-0.496c-25.714,0-42.338-17.7-42.338-39.82c0-22.622,17.126-39.828,43.348-39.828
                c26.204,0,42.334,17.206,42.834,39.83C160.642,148.806,144.012,166.506,117.3,166.506z M431.864,428.476h-76.608v-123.3
                c0-30.99-11.094-52.126-38.81-52.126c-21.171,0-33.776,14.255-39.312,28.024c-2.024,4.914-2.524,11.812-2.524,18.691v128.71H198
                l-0.002,0.009c0,0,1.006-208.88,0.006-230.504h76.612v32.63c10.184-15.703,28.404-38.042,69.05-38.042
                c50.406,0,88.198,32.946,88.198,103.745V428.476z"/>
            </svg>
          </div>
          LinkedIn
        </a>
      </div>

    </div>


    <div style="max-width: 800px; margin: 0 auto; padding-top: 1em;">
            {% include 'partials/nav-links.twig' %}
    </div>
  </section>

  <section class="widthFull container" style="background-color: #001622;">
    <div id="footer-legal" class="section-inner">

      {% include 'partials/logo.twig' %}

      <div style="margin-top: 2em;margin-bottom: 1em;">Theme:
        <a href="{{ site.link }}/projects/kals-theme/" style="text-decoration: underline">Kal's Theme</a>
      </div>
      Copyright &copy;
      {{ "now"|date('Y') }}
      Kal Erikson
    </div>
  </section>
  </footer>