<footer>

  <section class="widthFull container" style="background-color: #003c5e;padding-top: 4em;padding-bottom: 4em;min-height: 12em;">
    <div class="section-inner widthGlobal" style="color: #ffffff;flex-direction: row;justify-content: space-around;align-items: stretch;">
      <div id="footer-bio">

        <div class="hero-photo">
          <img src="{{ Image(411).src }}" alt="{{ Image(411).alt }}" srcset="{{ Image(411).srcset }}" sizes="{{ Image(411).img_sizes }}" style="max-width: 150px;border: 4px solid white;" />
        </div>
        <h2 style="font-weight: normal;">Kal Erikson</h2>
        <h3 style="font-weight: normal;">Full Stack Web Developer</h3>

        <div class="tech-tools">
            <ul>
            <li>WordPress</li>
            <li>HTML/CSS/JS</li>
            <li>Timber/Twig</li>
            <li>Vue</li>
            <li>PHP</li>
            <li>Go</li>
            <li>MySQL</li>
            <li>Node.js</li>
            <li>React</li>
            <li>PWA</li>
            <li>Git/Github</li>
            <li>Heroku/Google Cloud</li>
            <li>CPanel/htaccess/FTP</li>
            </ul>

          </div>

<div class="notes">
        <ul style="text-align: left;display: inline-block;margin-top: 1.5em;" type="square">
          <li>Based in Toronto</li>
          <li>7 years experience (roughly!)</li>
          <li>Front-end and back-end capability</li>
          <li>Lots of WordPress experience</li>
          <li>Ramping up into more Vue/React/Node/Go</li>
        </ul>
</div>
      </div>

      <div class="divider" style="width: 2px;background-color: orange;">
        <div style=""></div>
      </div>

      <div style="align-self: center;">

        {% include 'partials/nav-links.twig' %}
      </div>

    </div>
  </section>

  <section class="widthFull container" style="background-color: #001622;">
    <div id="footer-legal" class="section-inner">

      {% include 'partials/logo.twig' %}

      <div style="margin-top: 2em;margin-bottom: 1em;">Theme:
        <a href="{{ site.link }}/projects/kals-theme/" style="text-decoration: underline">Kal's Theme</a>
      </div>
      Copyright &copy;
      {{ "now"|date('Y') }}
      Kal Erikson
    </div>
  </section>
  </footer>