<!doctype html>
<html lang="en">
  <head>

    {{ wp_head }}

    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content="{{ site.description }}"/>
    <meta name="author" content="Kal Erikson" />
    <link rel="icon" href="{{ site.theme.link }}/favicon.ico"/>
    <title>{{ site.title }}</title>
    <link href="{{ site.theme.link }}/assets/dist/app.css" rel="stylesheet"/>
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png?v=wAdrE5xLpY" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png?v=wAdrE5xLpY" />
    <link rel="icon" type="image/png" sizes="192x192" href="/android-chrome-192x192.png?v=wAdrE5xLpY" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png?v=wAdrE5xLpY" />
    <link rel="manifest" href="/site.webmanifest?v=wAdrE5xLpY" />
    <link rel="mask-icon" href="/safari-pinned-tab.svg?v=wAdrE5xLpY" color="#003c5e" />
    <link rel="shortcut icon" href="/favicon.ico?v=wAdrE5xLpY" />
    <meta name="msapplication-TileColor" content="#ffffff" />
    <meta name="msapplication-TileImage" content="/mstile-144x144.png?v=wAdrE5xLpY" />
    <meta name="theme-color" content="#ffffff" />

    <script>    
        // FADE-IN ELEMENTS
        // 
        // For any element with class "fadeIn", on object loading it toggles a "fade" class, smoothly fading them in.
        // Useful for heavy images that are early (ie above-the-fold) and would otherwise appear delayed and abruptly appear.
        // Script is here, above body, for high priority.
        window.fadeIn = function(obj) {
          obj.classList.toggle('fade');
        }
    </script>
  </head>