{% include 'partials/header-base.twig' %}

  <body class="{{body_class}}" data-template="base.twig">

    {% include 'partials/header.twig' %}

    <main role="main">
      <section class="widthFull container">

        <div class="header section-inner widthGlobal">

          <div class="page-controls">

            {% if post.next %}
                <a href="{{ post.next.link }}" style="flex: 1;">Prev<h5 class="title">{{ post.next.title }}</h5></a>
            {% else %}
                <div style="flex: 1;"> </div>
            {% endif %}

            {% include 'partials/work-home.twig' %}

            {% if post.prev %}
                <a href="{{ post.prev.link }}" style="text-align: right;flex: 1;">Next<h5 class="title">{{ post.prev.title }}</h5></a>
            {% else %}
                <div> </div>
            {% endif %}

          </div>

          <div class="page-title hero-title">
            <h1>{{ post.title }}</h1>

                {% if projectdate %}
              <h3 class="date">{{ projectdate }}</h3>
            {% endif %}

          </div>



        </div>

        </div>

      </section>

      {% block content %}{% endblock %}

      <section class="widthFull container">

        <div class="section-inner widthGlobal">
          
          {# include 'partials/pagination.twig' #}

          <div class="page-controls" style="margin-top: 3em;">

            {% if post.next %}
                <a href="{{ post.next.link }}">Prev<h5 class="title">{{ post.next.title }}</h5></a>
            {% else %}
                <div style="flex: 1;"> </div>
            {% endif %}

            {% include 'partials/work-home.twig' %}

            {% if post.prev %}
                <a href="{{ post.prev.link }}" style="text-align: right">Next<h5 class="title">{{ post.prev.title }}</h5></a>
            {% endif %}

          </div>


        </div>

      </section>

    </main>

    {% include 'partials/footer.twig' %}
