{# File: views/pages/page-work.twig #}

{% extends 'layouts/base.twig' %}
{% block content %}

  <section id="work-home" class="widthFull container">

    <div class="section-inner widthGlobal">

      <a href="{{ site.url }}/projects/sportslit2">
        <img src="{{ Image(493).src('medium') }}" srcset="{{ Image(493).srcset }}" sizes="{{ Image(493).img_sizes }}"/>
        <div class="details">
          <div class="title">SportsLit 2.0</div>
          <div class="tags">{{ function('do_shortcode', '[tags postid="485"]') }}</div>
        </div>
      </a>

      <a href="{{ site.url }}/projects/kals-theme">
        <img src="{{ Image(494).src('medium') }}" srcset="{{ Image(494).srcset }}" sizes="{{ Image(494).img_sizes }}"/>
        <div class="details">
          <div class="title">KAL - My Portfolio</div>
          <div class="tags">{{ function('do_shortcode', '[tags postid="477"]') }}</div>
        </div>
      </a>

      <a href="{{ site.url }}/projects/sportslit">
        <img src="{{ Image(167).src('medium') }}" srcset="{{ Image(167).srcset }}" sizes="{{ Image(167).img_sizes }}" />
        <div class="details">
          <div class="title">SportsLit</div>
          <div class="tags">{{ function('do_shortcode', '[tags postid="49"]') }}</div>
        </div>
      </a>

      <a href="{{ site.url }}/projects/centered-list-builder">
        <img src="{{ Image(9193).src('medium') }}" srcset="{{ Image(9193).srcset }}" sizes="{{ Image(9193).img_sizes }}" />
        <div class="details">
          <div class="title">Centered-List Builder</div>
          <div class="tags">{{ function('do_shortcode', '[tags postid="9185"]') }}</div>
        </div>
      </a>

      <a href="{{ site.url }}/projects/yumbrosia">
        <img src="{{ Image(168).src('medium') }}" srcset="{{ Image(168).srcset }}" sizes="{{ Image(168).img_sizes }}" />
        <div class="details">
          <div class="title">Yumbrosia</div>
          <div class="tags">{{ function('do_shortcode', '[tags postid="52"]') }}</div>
        </div>
      </a>

      <a href="{{ site.url }}/projects/sportal">
        <img src="{{ Image(184).src('medium') }}" srcset="{{ Image(184).srcset }}" sizes="{{ Image(184).img_sizes }}" />
        <div class="details">
          <div class="title">Sportal</div>
          <div class="tags">{{ function('do_shortcode', '[tags postid="58"]') }}</div>
        </div>
      </a>

      <a href="{{ site.url }}/projects/glammo">
        <img src="{{ Image(169).src('medium') }}" srcset="{{ Image(169).srcset }}" sizes="{{ Image(169).img_sizes }}" />
        <div class="details">
          <div class="title">Glammo</div>
          <div class="tags">{{ function('do_shortcode', '[tags postid="55"]') }}</div>
        </div>
      </a>

      <a href="{{ site.url }}/projects/bizjelly">
        <img src="{{ Image(500).src('medium') }}" srcset="{{ Image(500).srcset }}" sizes="{{ Image(500).img_sizes }}" />
        <div class="details">
          <div class="title">Bizjelly</div>
          <div class="tags">{{ function('do_shortcode', '[tags postid="499"]') }}</div>
        </div>
      </a>

      <a href="{{ site.url }}/projects/wordpress-optimization" style="min-height: 249px;">
        <h2>NYC Video Prod.</h2>
        <div class="details">
          <div class="title">NYC Video Prod.</div>
          <div class="tags">{{ function('do_shortcode', '[tags postid="173"]') }}</div>
        </div>
      </a>

      <a href="{{ site.url }}/projects/smilelife">
        <img src="{{ Image(330).src('medium') }}" srcset="{{ Image(330).srcset }}" sizes="{{ Image(330).img_sizes }}" />
        <div class="details">
          <div class="title">SmileLife</div>
          <div class="tags">{{ function('do_shortcode', '[tags postid="321"]') }}</div>
        </div>
      </a>

      <a href="{{ site.url }}/projects/vue-player">
        <img src="{{ Image(333).src('medium') }}" srcset="{{ Image(333).srcset }}" sizes="{{ Image(333).img_sizes }}" />
        <div class="details">
          <div class="title">Vue Audio Player</div>
          <div class="tags">{{ function('do_shortcode', '[tags postid="176"]') }}</div>
        </div>
      </a>

      <a href="{{ site.url }}/projects/email-landing-page-templates" style="min-height: 249px;">
        <h2>Email & Landing Page Templates</h2>
        <div class="details">
          <div class="title">Email/Landing Page Templates</div>
          <div class="tags">{{ function('do_shortcode', '[tags postid="254"]') }}</div>
        </div>
      </a>

      <a href="{{ site.url }}/projects/centremark">
        <img src="{{ Image(314).src('medium') }}" srcset="{{ Image(314).srcset }}" sizes="{{ Image(314).img_sizes }}" />
        <div class="details">
          <div class="title">Centremark</div>
          <div class="tags">{{ function('do_shortcode', '[tags postid="72"]') }}</div>
        </div>
      </a>

      <a href="{{ site.url }}/projects/tarot">
        <img src="{{ Image(170).src('medium') }}" srcset="{{ Image(170).srcset }}" sizes="{{ Image(170).img_sizes }}" />
        <div class="details">
          <div class="title">Tarot</div>
          <div class="tags">{{ function('do_shortcode', '[tags postid="63"]') }}</div>
        </div>
      </a>

      <a href="{{ site.url }}/projects/glammo-shopify">
        <img src="{{ Image(339).src('medium') }}" srcset="{{ Image(339).srcset }}" sizes="{{ Image(339).img_sizes }}" />
        <div class="details">
          <div class="title">Glammo (Shopify)</div>
          <div class="tags">{{ function('do_shortcode', '[tags postid="66"]') }}</div>
        </div>
      </a>

      <a href="{{ site.url }}/projects/toronto-soccer-meetup">
        <img src="{{ Image(410).src('medium') }}" srcset="{{ Image(410).srcset }}" sizes="{{ Image(410).img_sizes }}" />
        <div class="details">
          <div class="title">Toronto Soccer Meetup</div>
          <div class="tags">{{ function('do_shortcode', '[tags postid="76"]') }}</div>
        </div>
      </a>

      <a href="{{ site.url }}/projects/karachi-shop">
        <img src="{{ Image(335).src('medium') }}" srcset="{{ Image(335).srcset }}" sizes="{{ Image(335).img_sizes }}" />
        <div class="details">
          <div class="title">Karachi Shop</div>
          <div class="tags">{{ function('do_shortcode', '[tags postid="69"]') }}</div>
        </div>
      </a>

      <a href="{{ site.url }}/projects/profr8">
        <img src="{{ Image(344).src('medium') }}" srcset="{{ Image(344).srcset }}" sizes="{{ Image(344).img_sizes }}" />
        <div class="details">
          <div class="title">ProFr8</div>
          <div class="tags">{{ function('do_shortcode', '[tags postid="341"]') }}</div>
        </div>
      </a>

      <a href="{{ site.url }}/projects/rogers">
        <img src="{{ Image(427).src('medium') }}" srcset="{{ Image(427).srcset }}" sizes="{{ Image(427).img_sizes }}" />
        <div class="details">
          <div class="title">Rogers</div>
          <div class="tags">{{ function('do_shortcode', '[tags postid="416"]') }}</div>
        </div>
      </a>

      <a href="{{ site.url }}/projects/tira-wireless">
        <img src="{{ Image(414).src('medium') }}" srcset="{{ Image(414).srcset }}" sizes="{{ Image(414).img_sizes }}" />
        <div class="details">
          <div class="title">Tira Wireless</div>
          <div class="tags">{{ function('do_shortcode', '[tags postid="79"]') }}</div>
        </div>
      </a>

    </div>

  </section>

{% endblock %}
